In [3]:
import pandas as pd

data = {
    "listing_id": [281420, 3705183],
    "name": [
        "Beautiful Flat in le Village Montmartre, Paris",
        "39 m² Paris (Sacre Cœur)"
    ],
    "host_is_superhost": ["t", "f"],
    "host_has_profile_pic": ["f", "f"],
    "host_identity_verified": ["f", "t"],
    "instant_bookable": ["t", "t"]
}

df = pd.DataFrame(data)
df

,listing_id,name,host_is_superhost,host_has_profile_pic,host_identity_verified,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",t,f,f,t
1,3705183,39 m² Paris (Sacre Cœur),f,f,t,t

In [4]:
import pandas as pd

data = {
    "listing_id": [281420, 3705183],
    "name": [
        "Beautiful Flat in le Village Montmartre, Paris",
        "39 m² Paris (Sacre Cœur)"
    ],
    "host_is_superhost": [True, False],
    "host_has_profile_pic": [False, False],
    "host_identity_verified": [False, True],
    "instant_bookable": [True, True]
}

df = pd.DataFrame(data)
df

,listing_id,name,host_is_superhost,host_has_profile_pic,host_identity_verified,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",True,False,False,True
1,3705183,39 m² Paris (Sacre Cœur),False,False,True,True

In [6]:
import pandas as pd
import numpy as np

data = {
    "listing_id": [281420, 3705183, 4082273, 4797344, 4823489],
    "name": [
        "Beautiful Flat in le Village Montmartre, Paris",
        "39 m² Paris (Sacre Cœur)",
        "Lovely apartment with Terrace, 60m2",
        "Cosy studio (close to Eiffel tower)",
        "Close to Eiffel Tower - Beautiful flat : 2 rooms"
    ],
    "amenities": [
        ["Heating", "Kitchen", "Washer", "Wifi", "Long term stays allowed"],
        ["Shampoo", "Heating", "Kitchen", "Essentials", "Washer", "Dryer", "Wifi", "Long term stays allowed"],
        ["Heating", "TV", "Kitchen", "Washer", "Wifi", "Long term stays allowed"],
        ["Heating", "TV", "Kitchen", "Wifi", "Long term stays allowed"],
        ["Heating", "TV", "Kitchen", "Essentials", "Hair dryer", "Washer", "Dryer", "Bathtub", "Wifi", "Elevator", "Long term stays allowed", "Cable TV"]
    ]
}

df = pd.DataFrame(data)
df

,listing_id,name,amenities
0,281420,"Beautiful Flat in le Village Montmartre, Paris","[Heating, Kitchen, Washer, Wifi, Long term sta..."
1,3705183,39 m² Paris (Sacre Cœur),"[Shampoo, Heating, Kitchen, Essentials, Washer..."
2,4082273,"Lovely apartment with Terrace, 60m2","[Heating, TV, Kitchen, Washer, Wifi, Long term..."
3,4797344,Cosy studio (close to Eiffel tower),"[Heating, TV, Kitchen, Wifi, Long term stays a..."
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,"[Heating, TV, Kitchen, Essentials, Hair dryer,..."

In [10]:
import pandas as pd

data = {
    "listing_id": [281420, 3705183, 4082273, 4797344, 4823489],
    "name": [
        "Beautiful Flat in le Village Montmartre, Paris",
        "39 m² Paris (Sacre Cœur)",
        "Lovely apartment with Terrace, 60m2",
        "Cosy studio (close to Eiffel tower)",
        "Close to Eiffel Tower - Beautiful flat : 2 rooms"
    ],
    "amenities": [
        ["Heating", "Kitchen", "Washer", "Wifi", "Long term stays allowed"],
        ["Shampoo", "Heating", "Kitchen", "Essentials", "Washer", "Dryer", "Wifi", "Long term stays allowed"],
        ["Heating", "TV", "Kitchen", "Washer", "Wifi", "Long term stays allowed"],
        ["Heating", "TV", "Kitchen", "Wifi", "Long term stays allowed"],
        ["Heating", "TV", "Kitchen", "Essentials", "Hair dryer", "Washer", "Dryer", "Bathtub", "Wifi", "Elevator", "Long term stays allowed", "Cable TV"]
    ]
}

# Convert the data into a DataFrame
df = pd.DataFrame(data)

# Add new columns for the specified amenities
amenities_list = ['pool', 'wifi', 'balcony', 'parking']

for amenity in amenities_list:
    df[amenity] = df['amenities'].apply(lambda x: amenity.capitalize() in x if x else False)

# Print the DataFrame
df.drop(columns = 'amenities')

,listing_id,name,pool,wifi,balcony,parking
0,281420,"Beautiful Flat in le Village Montmartre, Paris",False,True,False,False
1,3705183,39 m² Paris (Sacre Cœur),False,True,False,False
2,4082273,"Lovely apartment with Terrace, 60m2",False,True,False,False
3,4797344,Cosy studio (close to Eiffel tower),False,True,False,False
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,False,True,False,False